/* can__item-circle */
.can__item-circle1 {
    animation-name: unrotate;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 30s;
}
.can__item-circle2 {
    animation-name: rotate;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 35s;
}
.can__item-circle3 {
    animation-name: unrotate;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 45s;
}
.can__item-circle4 {
    animation-name: rotate;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 30s;
}
.can__item-circle5 {
    animation-name: unrotate;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 35s;
}
@keyframes rotate {
    from { transform: rotate(0deg) }
    to { transform: rotate(360deg) }
}
@keyframes unrotate {
    from { transform: rotate(0deg) }
    to { transform: rotate(-360deg) }
}
/* cover__item */
.cover__item {
    animation-name: fadeturn;
    animation-timing-function: ease-in-out;
    animation-duration: 0.8s;
}
@keyframes fadeturn {
    from {
        transform: translate(0, 50px);
        opacity: 0;
    }
    to {
        transform: translate(0, 0);
        opacity: 1;
    }
}