/* can__item-circle */
.can__item-circle1 {
    animation-name: unrotate;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 30s;
}
.can__item-circle2 {
    animation-name: rotate;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 35s;
}
.can__item-circle3 {
    animation-name: unrotate;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 45s;
}
.can__item-circle4 {
    animation-name: rotate;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 30s;
}
.can__item-circle5 {
    animation-name: unrotate;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 35s;
}
@keyframes rotate {
    from { transform: rotate(0deg) }
    to { transform: rotate(360deg) }
}
@keyframes unrotate {
    from { transform: rotate(0deg) }
    to { transform: rotate(-360deg) }
}
/* cover__item */
.cover__item {
    animation-name: fadeturn;
    animation-timing-function: ease-in-out;
    animation-duration: 0.8s;
}
@keyframes fadeturn {
    from {
        transform: translate(0, 50px);
        opacity: 0;
    }
    to {
        transform: translate(0, 0);
        opacity: 1;
    }
}
/* main__phones  */
.main__phones { animation-name: moveFromBottom; animation-duration: 1s; }
@keyframes moveFromBottom {
    from { transform: translateY(800px) }
}
/* push release - иконки на первом экране */
.pushRelease { animation-name: pushRelease; animation-duration: 4s; animation-iteration-count: infinite; }
@keyframes pushRelease {
    15% { transform: scale(.7) }
}
/* moveFromLeft */
.moveFromLeft { animation-name: moveFromLeft; animation-duration: 1.5s; }
@keyframes moveFromLeft {
    from { transform: translateX(-800px) }
    to { transform: translateX(0) }
}
/* moveFromRight */
.moveFromRight { animation-name: moveFromRight; animation-duration: 1.5s; }
@keyframes moveFromRight {
    from { transform: translateX(800px) }
    to { transform: translateX(0) }
}




/* leFadeInLeft */
.leFadeInLeft {
    animation-name: leFadeInLeft;
    animation-duration: 2s;
}
@keyframes leFadeInLeft {
    from {
        opacity: 0;
        transform: translateX(-60px);
    }
    to { opacity: 1 }
}
/* leFadeInBottom */
.leFadeInBottom{
    animation-name: leFadeInBottom;
    animation-duration: 4s;
}
@keyframes leFadeInBottom {
    from {
        opacity: 0;
        transform: translateY(100%);
    }
    to { opacity: 1 }
}
/* leScaleXIn */
.leScaleXIn { animation-name: leScaleXIn; animation-duration: 2s; }
@keyframes leScaleXIn {
    from {
        transform: perspective(400px) rotateX(90deg);
        opacity: 0;
    }
    50% { opacity: 1 }
}
/* moveFromBottom */
.moveFromBottom { animation-name: moveFromBottom; animation-duration: 2s; }
@keyframes moveFromBottom {
    from { transform: translateY(800px) }
}
/* blueInTop */
.blurInTop { animation-name: blurInTop; animation-duration: 3s; }
@keyframes blurInTop {
    from {
        transform: translateY(100%);
        filter: blur(20px);
        opacity: 0;
    }
}

/* BlurIn */
.blurIn1 { animation-name: blurIn; animation-duration: 3s;}
@keyframes blurIn {
    from {
        filter: blur(20px);
        opacity: 0;
    }
}
.blurIn2 { animation-name: blurIn; animation-duration: 3.5s;}
@keyframes blurIn {
    from {
        filter: blur(20px);
        opacity: 0;
    }
}
.blurIn3 { animation-name: blurIn; animation-duration: 4s;}
@keyframes blurIn {
    from {
        filter: blur(20px);
        opacity: 0;
    }
}